#mainmenu{
    font-family: cursive;
    background-color: #7F8EC9;
}

#validator, #github, #moodle{
    font-family: cursive;
    font-size: 22px;
    background-color: #8ECFA6;
    height: 100%;
}

#link_1, #link_2, #link_3, #link_4, #link_5, #link_6, #link_7{
    font-family: cursive;
    font-size: 18px;
    background-color: #929DC9;
}

footer{
    font-family: cursive;
    background-color: #8ECFA6;
}

body{
    background-image: url(background.png);
}
