header img {
    float: left;
    width: 60px;
    height: 60px;
}

#Title{
    padding-top:20px;
}

#content {
    margin: auto;
    max-width: 960px;
}

#tablet {
    margin: auto;
    max-width: 960px;
    text-align: center;
}

#even {
    color:dodgerblue;
}

#noteven{
    color:yellow;
}
#logo{
    margin: auto;
    max-width: 960px;
}

#forma{
    margin-top: 150px;
}
